body{
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
nav{
  margin:0;
  padding:0;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-line: 1;
  background-color: #242E2E;
   white-space: nowrap;
}
.notificationicon{
  width: 20px;
}
.navelement{
  padding: 1%;
  margin: 0;
  color: white;
  background-color: #242E2E;
  text-decoration:none;
}
.navelement:hover{
  margin: 0;
  background-color: #030303;
  color: white;
}
.navelement1{
  padding: 1%;
  margin: 0;
  color: white;
  background-color: #242E2E;
  text-decoration:none;
}
.navelement1:hover{
  margin: 0;
  color: white;
}
.right{
  float: right;
}
