body{
  background-color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
nav{
  margin:0;
  padding:0;
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #242E2E;
  border: 1px solid;
  box-shadow: 5px 10px 18px #888888;
}
.navelement{
  padding: 1%;
  height: 10px;
  margin: 0;
  color: white;
  background-color: #242E2E;
  text-decoration:none;
}
.navelement:hover{
  margin: 0;
  background-color: #030303;
  color: white;
}
.right{
  float: right;
}
