.headermain{
  margin: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title{
  color: white;
  font-size: 500%;
}
.bookaflight{
  text-decoration:none;
  color:white;
  background-color: blue;
  padding: 2%;
}
.titleWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linkWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
